.container{
    border: 1px solid grey;
}

.ad6Normal{
    width: 300px;
    border: 3px solid transparent;
}

.ad6Extrea{
    width: 300px;
    border: 3px solid tomato;
    border-radius: 100%;
    transform: rotate(-10deg);
    transition: .5s;
}

td{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: none;
}

#ad7{
    height: 450px;
}

.hr{
    width: 100%;
    height: 3px;
    background-color: grey;
    margin: 3rem auto 3rem auto;
}